<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
            #emailInput="ngModel"
            matInput
            ngModel
            required
            email
            type="text"
            name='email'
            placeholder="e-mail">
            <mat-error *ngIf="emailInput.invalid">Plese enter a valid e-mail</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            #passwordInput="ngModel"
            matInput
            ngModel
            required
            type="password"
            name='password'
            placeholder="Password">
            <mat-error *ngIf="passwordInput">Plese enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color='primary' type="submit" *ngIf="!isLoading">Sign Up</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>

